.popup__title {
  margin: 0;
  font-weight: var(--weight-black);
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 610px) {
  .popup__title {
    font-size: 24px;
    line-height: 29px;
  }
}
