.popup__container {
  background-color: var(--white);
  width: 100%;
  max-width: 358px;
  border-radius: 10px;
  position: relative;
  padding: 25px 22px;
  margin: 0 19px;
}

@media (min-width: 610px) {
  .popup__container {
    padding: 34px 36px 31px;
    margin: 0;
  }
}
