.sign__field-wrap {
  padding-bottom: 30px;
}

.sign__field-wrap:last-of-type {
  padding-bottom: 216px;
}

@media (max-width: 610px) {
  .sign__field-wrap:last-of-type {
    padding-bottom: 173px;
  }
}
