@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./vendor/variables/root.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);

/* header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

/* content */
@import url(./blocks/content/content.css);

/* profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__wrap/profile__wrap.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

/* elements */
@import url(./blocks/elements/elements.css);

/* cards */
@import url(./blocks/cards/cards.css);

/* card */
@import url(./blocks/card/card.css);
@import url(./blocks/card/__photo/card__photo.css);
@import url(./blocks/card/__trash/card__trash.css);
@import url(./blocks/card/__wrap/card__wrap.css);
@import url(./blocks/card/__photo/card__photo.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__like-wrap/card__like-wrap.css);
@import url(./blocks/card/__like-count/card__like-count.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like/_active/card__like_active.css);

/* footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);

/* popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_big-photo/popup_big-photo.css);

@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container-big-photo/popup__container-big-photo.css);
@import url(./blocks/popup/__close-big-photo/popup__close-big-photo.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__close-big-photo/popup__close-big-photo.css);

@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_confurm-delite/popup__form_confurm-delite.css);
@import url(./blocks/popup/__field-wrap/popup__field-wrap.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__field/_next/popup__field_next_name.css);
@import url(./blocks/popup/__field/_next/popup__field_next_job.css);
@import url(./blocks/popup/__field/_type/popup__field_type_error.css);
@import url(./blocks/popup/__field-error/popup__field-error.css);
@import url(./blocks/popup/__field-error/_visible/popup__field-error_visible.css);

@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__photo-name/popup__photo-name.css);
